go 1.20

use (
	.
	./cmd/proto/models/persons
	./cmd/proto/models/persons/person
	./pkg/do-a-thing
	./pkg/do-a-thing/v2
	./pkg/do-a-thing/v3
	./pkg/hello-world
	./pkg/helpers
	./pkg/webserver/endpoints
	./pkg/webserver/mux
	./pkg/webserver/routing
)
